/* Variables */

$fontFamily: 'Kumbh Sans', sans-serif;
$borderRadius: 15px;

// Primary Colours
$darkCyan: #19A2AE;
$vDarkCyan: #2D3248;
$darkBlue: #676C7E;

// Neutral Colours
$darkGray: #969696;

* {
    font-family: $fontFamily;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    min-height: 100vh;
    background-color: $darkCyan;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position-x: -65%, 165%;
    background-position-y: 751%, -750%; 
}

@media only screen and (max-width: 375px){
    body {
        background-position-x: 129%, -23%;
        background-position-y: 514%, -438%; 
    }
}

h1 {
    color: $vDarkCyan;
    font-weight: 700;
}

p {
    color: $darkGray;
    font-weight: 400;
    font-size: 12px;
}

.card {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: $borderRadius;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 0.2); 
    box-shadow:         1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.card-top {
    background-image: url("images/bg-pattern-card.svg");
    height: 150px;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
}

.card-bottom {
    background-color: #fff;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
}

.pic {
    border-radius: 50%;
    position: absolute;
    left: 35%;
    transform: translateY(-50%);
    border: 5px solid #fff;
}

.address {
    border-bottom: solid 1px $darkGray;
    padding-top: 75px;
}

.first-line {
    text-align: center;
    h1 {
        display: inline;
    }
    p{
        display: inline;
        font-size: 18px;
    }
}

.second-line {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.stats {
    display: flex;
    flex-direction: row;
}

.stats div {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.stats p {
    margin-top: 5px;
}

.attribution { 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    font-size: 11px; text-align: center;
    
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}